/*----------------------------tabs------------------------------*/
.tabs {
    padding-top: 15px;
}

.nav-tabs {
    display: flex;
}

.tab-item {
    display: none;
    padding: 18px 0 60px 0;
    line-height: 1.5;
}

.tab-item.is-active {
    display: block;
}

.nav-tabs {
    border-bottom: 1px solid #24b6e2;
}

.nav-tabs li {
    cursor: pointer;
    padding: 12px 19px;
    background-color: #d6d0d0;
    ;
    margin-right: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-tabs li.is-active {
    background-color: #24b6e2;
    color: #ffffff;
}