.btn {
    padding: 9px 16px 8px 15px;
    background-color: #d6d4d4;
    border-radius: 4px;
    border: none;
}

.btn:hover {
    background-color: #8f8d8d;
}

.button-news {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.button-news a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.button-news a {
    transition: all .3s;
}


.form-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 27px;
}

.btn-primary {
    background-color: #24b5e1;
    color: #ffffff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0a8ab1;
    transition: all .3s;
}